.block {
  border: 1px solid #c4c1bc;
  margin: 0 0 15px;
}
.block .block-title {
  background: url(../images/bkg_block-title.gif) 0 0 repeat-x;
  border-bottom: 1px solid #ddd;
  padding: 2px 9px;
}
.block .block-title strong {
  display: block;
  font: bold 12px/16px Arial, Helvetica, sans-serif;
  min-height: 16px;
  padding: 1px 0 1px;
  text-transform: uppercase;
  color: #e26703;
}
.block .block-title a {
  text-decoration: none !important;
}
.block .block-subtitle {
  margin: 0;
  padding: 5px 9px;
  font-size: 1em;
  font-weight: bold;
  color: #0a263c;
}
.block .block-content {
  background: #f8f7f5;
}
.block .block-content li.item {
  padding: 7px 9px;
}
.block .block-content .product-name {
  color: #1e7ec8;
}
.block .btn-remove,
.block .btn-edit {
  float: right;
  margin: 1px 0 2px 5px;
}
.block .actions {
  background: #dee5e8 url(../images/bkg_block-actions.gif) 0 0 repeat-x;
  padding: 6px 9px;
  text-align: right;
}
.block .actions a {
  float: left;
}
.block .actions button.button {
  float: right;
}
.block .empty {
  margin: 0;
  padding: 5px 9px;
}
.block li.odd {
  background-color: #f4f3f3;
}
.block li.even {
  background-color: #fafafa;
}
/* Mini Blocks */
.block-cart,
.block-wishlist,
.block-subscribe,
.block-compare,
.block-reorder,
.block-poll,
.block-viewed,
.block-compared,
.block-related,
.block-tags,
.block-login {
  font-size: 11px;
  line-height: 1.25;
}
.block-cart .block-title strong,
.block-wishlist .block-title strong,
.block-subscribe .block-title strong,
.block-compare .block-title strong,
.block-reorder .block-title strong,
.block-poll .block-title strong,
.block-viewed .block-title strong,
.block-compared .block-title strong,
.block-related .block-title strong,
.block-tags .block-title strong,
.block-login .block-title strong {
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 21px;
}
/* Mini Products List */
.mini-products-list .product-image {
  float: left;
  width: 50px;
  border: 1px solid #a9a9a9;
}
.mini-products-list .product-details {
  margin-left: 60px;
}
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small {
  word-wrap: break-word;
}
.block-cart .mini-products-list .product-details .nobr {
  white-space: normal !important;
}
/* Block: Account */
.block-account {
  border-color: #bbb;
}
.block-account .block-title {
  background: #fc9d36 url(../images/bkg_block-title-account.gif) 0 100% repeat-x;
  border: 0;
  padding: 3px 10px;
}
.block-account .block-title strong {
  font-size: 13px;
  color: #fff;
}
.block-account .block-content {
  background: #fbfaf6;
  padding: 7px 10px 7px;
}
.block-account .block-content li a {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
  color: #5f5d5c;
  text-decoration: none !important;
}
.block-account .block-content li a:hover {
  color: #ea7900;
}
.block-account .block-content li.last a {
  border-bottom: 0;
}
.block-account .block-content li.current {
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
  color: #ea7900;
}
.block-account .block-content li.current.last {
  border-bottom: 0;
}
/* Block: Currency Switcher */
.block-currency {
  border: 0;
  background: url(../images/bkg_block-currency.gif) 0 0 no-repeat;
  padding: 7px 12px 10px;
  height: 51px;
}
.block-currency .block-title {
  background: none;
  border: 0;
  padding: 0;
  margin: 0 0 5px;
}
.block-currency .block-title strong {
  font: bold 13px/21px Arial, Helvetica, sans-serif;
  background: url(../images/i_block-currency.gif) 0 50% no-repeat;
  padding: 0 0 0 21px;
  text-transform: none;
  color: #fff;
}
.block-currency .block-content {
  background: none;
  padding: 0;
}
.block-currency .block-content select {
  width: 100%;
  padding: 0;
}
/* Block: Layered Navigation */
.block-layered-nav {
  border: 0;
}
.block-layered-nav .block-title {
  border: 0;
  padding: 0;
  height: 24px;
  background: url(../images/bkg_block-layered-title.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}
.block-layered-nav .block-subtitle {
  line-height: 1.35;
  background: #d5e8ff url(../images/bkg_block-layered1.gif) 0 50% repeat;
  padding: 3px 9px;
  border: 1px solid #b9ccdd;
  border-width: 1px 0;
  text-transform: uppercase;
  color: #1f5070;
}
.block-layered-nav .block-content {
  border: 1px solid #a0b3c3;
  background: #e7f1f4;
}
.block-layered-nav dt {
  background: url(../images/bkg_block-layered-dt.gif) 9px 11px no-repeat;
  padding: 7px 10px 0 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.block-layered-nav dd {
  padding: 0 12px 12px;
  background: url(../images/bkg_block-layered-dd.gif) 0 100% repeat-x;
}
.block-layered-nav dd.last {
  background: none;
}
.block-layered-nav .currently li {
  background: #ffffff url(../images/bkg_block-layered-li.gif) 0 100% repeat-x;
  padding: 6px 24px 6px 10px;
  position: relative;
  z-index: 1;
  line-height: 1.5;
}
.block-layered-nav .currently .label {
  font-weight: bold;
  padding-left: 15px;
  background: url(../images/bkg_block-layered-label.gif) 0 4px no-repeat;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}
.block-layered-nav .currently .value {
  display: inline-block;
  vertical-align: top;
}
.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove {
  position: absolute;
  right: 4px;
  top: 9px;
  margin: 0;
}
.block-layered-nav .currently .btn-previous {
  right: 17px;
}
.block-layered-nav .actions {
  font-size: 11px;
  padding: 4px 5px 4px 9px;
  background: #cad6e4;
  border: 1px solid #dee5e8;
  border-width: 1px 0;
  text-align: right;
}
.block-layered-nav .actions a {
  float: none;
}
/* Block: Cart */
.block-cart .block-title {
  /*border-bottom:0;*/
}
.block-cart .block-title strong {
  background-image: url(../images/i_block-cart.gif);
}
.block-cart .summary {
  background: #fff;
  padding: 2px 8px 8px;
  margin: -1px 0 0;
  position: relative;
  z-index: 1;
}
.block-cart .amount {
  margin: 0;
}
.block-cart .amount a {
  font-weight: bold;
}
.block-cart .subtotal {
  margin: 5px 0 0;
  padding: 2px 0;
  background: #fbebd9;
  text-align: center;
}
.block-cart .subtotal .price {
  font-weight: bold;
}
.block-cart .actions {
  border-bottom: 1px solid #c2c2c2;
}
.block-cart .actions .paypal-logo {
  float: left;
  width: 100%;
  margin: 3px 0 0;
  text-align: right;
}
.block-cart .actions .paypal-logo .paypal-or {
  clear: both;
  display: block;
  padding: 0 55px 8px 0;
}
/* Block: Wishlist */
.block-wishlist .block-title strong {
  background-image: url(../images/i_block-wishlist.gif);
}
.block-wishlist .actions {
  text-align: right;
}
.block-wishlist .actions a {
  float: none;
}
/* Block: Related */
.block-related .block-title strong {
  background-image: url(../images/i_block-related.gif);
  background-position: 0 1px;
}
.block-related input.checkbox {
  float: left;
}
.block-related .product {
  margin-left: 20px;
}
/* Block: Compare Products */
.block-compare .block-title strong {
  background-image: url(../images/i_block-list.gif);
  background-position: 0 1px;
}
.page-popup .link-print {
  background: url(../images/i_print.gif) 0 2px no-repeat;
  padding: 2px 0 2px 25px;
  font-weight: bold;
  color: #1e7ec8;
}
.compare-table {
  border: 0;
}
.compare-table thead tr.first th,
.compare-table thead tr.first td {
  border: 0;
  background: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.compare-table .btn-remove {
  float: right;
  background-image: url(../images/btn_remove2.gif);
  width: 72px;
  height: 15px;
}
.compare-table tbody th {
  background: #d9e5ee url(../images/bkg_th-v.gif) 100% 0 repeat-y;
}
.compare-table tbody th,
.compare-table tbody td {
  padding: 10px;
  border: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.compare-table tbody td.last {
  border-right: 1px solid #ccc;
}
.compare-table tbody tr.last th,
.compare-table tbody tr.last td {
  border-bottom: 1px solid #ccc !important;
}
.compare-table tr.add-to-row td {
  background: #fffada;
  text-align: center;
}
.compare-table tr.first td {
  text-align: center;
}
.compare-table tr.first td .product-name {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #203548;
}
.compare-table tr.first td .product-name a {
  color: #203548;
}
.compare-table tr.first td .ratings {
  width: 69px;
  margin: 0 auto;
}
.compare-table tr.first td p,
.compare-table tr.add-to-row td p {
  margin: 0;
}
/* Block: Recently Viewed */
.block-viewed .block-title strong {
  background-image: url(../images/i_block-viewed.gif);
}
/* Block: Recently Compared */
.block-compared .block-title strong {
  background-image: url(../images/i_block-list.gif);
  background-position: 0 1px;
}
/* Block: Poll */
.block-poll .block-title strong {
  background-image: url(../images/i_block-poll.gif);
}
.block-poll .block-subtitle {
  font-size: 12px;
}
.block-poll label {
  color: #777;
  font-weight: bold;
}
.block-poll input.radio {
  float: left;
  margin: 1px -18px 0 0;
}
.block-poll .label {
  display: block;
  margin-left: 18px;
}
.block-poll li {
  padding: 3px 9px;
}
.block-poll .actions {
  margin: 5px 0 0;
}
.block-poll .answer {
  font-weight: bold;
}
.block-poll .votes {
  float: right;
  margin-left: 10px;
}
/* Block: Tags */
.block-tags .block-title strong {
  background-image: url(../images/i_block-tags.gif);
}
.block-tags .block-content .tags-list {
  background: none;
  border: 0;
  font-size: 12px;
}
.block-tags .block-content a {
  color: #1b2d3b;
}
.block-tags .actions {
  text-align: right;
}
.block-tags .actions a {
  float: none;
}
/* Block: Subscribe */
.block-subscribe .block-content {
  padding: 5px 10px;
}
.block-subscribe .block-title strong {
  background-image: url(../images/i_block-subscribe.gif);
}
.block-subscribe label {
  font-weight: bold;
  color: #666;
}
.block-subscribe input.input-text {
  display: block;
  width: 167px;
  margin: 3px 0;
}
.block-subscribe .actions {
  background: none;
  padding: 0;
  margin: 3px 0 0;
  text-align: left;
}
.block-subscribe .actions button.button {
  float: none;
}
/* Block: Reorder */
.block-reorder .block-title strong {
  background-image: url(../images/i_block-list.gif);
}
.block-reorder input.checkbox {
  float: left;
  margin: 2px -20px 0 0;
}
.block-reorder .product-name {
  margin-left: 20px;
}
.block-reorder .validation-advice {
  margin: 3px 9px 7px;
}
/* Block: Banner */
.block-banner {
  border: 0;
}
.block-banner .block-content {
  padding: 0;
  text-align: center;
}
/* Block: Login */
.block-login .block-title strong {
  background-image: url(../images/i_ma-info.gif);
}
.block-login .block-content {
  padding: 5px 10px;
}
.block-login label {
  font-weight: bold;
  color: #666;
}
.block-login input.input-text {
  display: block;
  width: 167px;
  margin: 3px 0;
}
.block-login .actions {
  background: none;
  padding: 0;
  margin: 3px 0 0;
}
/* Paypal */
.sidebar .paypal-logo {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.sidebar .paypal-logo a {
  float: none;
}
