<?xml version="1.0"?>
<!--
/**
 * Webcomm Magento Boilerplate
 *
 * @copyright   Copyright (c) 2012 - 2013 Webcomm Pty Ltd
 * @link        http://webcomm.com.au
 */
 -->
<config>


	<modules>
		<Webcomm_BootstrapNavigation>
			<version>0.1.0.0</version>
		</Webcomm_BootstrapNavigation>
	</modules>


	<global>


		<blocks>


			<!-- Declare model base class -->
			<bootstrapnavigation>
				<class>Webcomm_BootstrapNavigation_Block</class>
			</bootstrapnavigation>


			<page>


				<!-- Rewrite the topmenu to ours so we can add our custom classes -->
				<rewrite>
					<html_topmenu>Webcomm_BootstrapNavigation_Block_Page_Html_Topmenu</html_topmenu>
				</rewrite>


			</page>


		</blocks>


	</global>


</config>
