// TYPE
// ----

@import "../../vendor/bootstrap/less/type";

// Reset margin / padding on elements
p,
ul, ol,
dl, dt, dd {
	margin: 0;
	padding: 0;
}

// Lists
ul, ol {
	list-style: none;
	list-style-image: none;

	&.styled {
		margin-left: 25px;
	}
}

ul.styled {
	list-style: disc;
}

ol.styled {
	list-style: decimal;
}