[submodule "skin/frontend/mytheme/default/vendor/html5shiv"]
	path = skin/frontend/mytheme/default/vendor/html5shiv
	url = git://github.com/aFarkas/html5shiv.git
[submodule "skin/frontend/mytheme/default/vendor/bootstrap"]
	path = skin/frontend/mytheme/default/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "skin/frontend/mytheme/default/vendor/semantic.gs"]
	path = skin/frontend/mytheme/default/vendor/semantic.gs
	url = git://github.com/twigkit/semantic.gs.git
