# ==================================== #
# Magento Boilerplate .gitignore file. #
#                                      #
#  Copyright (c) 2014 Webcomm Pty Ltd  #
#                                      #
# This file is tested on:              #
#  - Magento CE 1.6.2.0                #
#  - Magento CE 1.7.0.0                #
#  - Magento CE 1.7.0.1                #
#  - Magento CE 1.7.0.2                #
#  - Magento CE 1.8.0.0                #
#  - Magento CE 1.8.1.0                #
#  - Magento CE 1.9.0.0                #
#  - Magento CE 1.9.0.1                #
#                                      #
# ==================================== #



# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
# Part A: Ignore all files that        #
#         probably shouldn't be in     #
#         version control              #
# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
#
# You shouldn't need to edit these
# files at all unless a Magento
# upgrade breaks this. These files are
# in alphabetical order.

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Composer
!/composer.json
!/composer.lock
/vendor

# Bower and Node
/bower_components
/node_modules

# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
# Part B: Ignore all standard Magento  #
#         files.                       #
# =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* #
#
# You shouldn't need to edit these
# files at all unless a Magento
# upgrade breaks this. These files are
# in alphabetical order. The ignores
# are setup so that in Part C onwards
# you usem minimal code to setup
# your ignores.

# since we locate our magento in src folder
# we only need to keep theme files/folder
# or extension dependencies
/src

!/src/app/design/adminhtml/base/default/layout/webcomm_*
!/src/app/design/adminhtml/base/default/template/webcomm

!/src/app/design/adminhtml/default/default/layout/webcomm_*
!/src/app/design/adminhtml/default/default/template/webcomm

!/src/app/design/frontend/base/default/layout/webcomm_*
!/src/app/design/frontend/base/default/template/webcomm

!/src/app/etc/modules/Webcomm_*

!/src/skin/adminhtml/base/default/webcomm
!/src/skin/frontend/base/default/webcomm
!/src/skin/frontend/default/default/lib/webcomm

# ==================================== #
# Part C: Reference all extensions     #
#         that are required by this    #
#         theme that should be under   #
#         version control.             #
# ==================================== #
#
# You need to include all files for
# extension. Each extension's files
# should be kept together so it is
# easy to find them in future if need
# be.


# ==================================== #
# Part D: Setup your theme overrides   #
# ==================================== #
#
# This is where you include your theme
# overrides in app/design/frontend and
# skin/frontend

# Boilerplate Theme
!/src/app/design/frontend/boilerplate/
!/src/skin/frontend/boilerplate/