[submodule "skin/frontend/mytheme/default/vendor/html5shiv"]
	path = skin/frontend/mytheme/default/vendor/html5shiv
	url = git://github.com/aFarkas/html5shiv.git
[submodule "skin/frontend/mytheme/default/vendor/bootstrap"]
	path = skin/frontend/mytheme/default/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "skin/frontend/mytheme/default/vendor/selectivizr"]
	path = skin/frontend/mytheme/default/vendor/selectivizr
	url = git://github.com/keithclark/selectivizr.git
[submodule "skin/frontend/mytheme/default/vendor/nwmatcher"]
	path = skin/frontend/mytheme/default/vendor/nwmatcher
	url = git://github.com/dperini/nwmatcher.git
[submodule "skin/frontend/mytheme/default/vendor/flexslider"]
	path = skin/frontend/mytheme/default/vendor/flexslider
	url = git://github.com/woothemes/FlexSlider.git
[submodule "skin/frontend/mytheme/default/vendor/bootstrap-hover-dropdown"]
	path = skin/frontend/mytheme/default/vendor/bootstrap-hover-dropdown
	url = git://github.com/CWSpear/twitter-bootstrap-hover-dropdown.git
[submodule "skin/frontend/mytheme/default/vendor/font-awesome"]
	path = skin/frontend/mytheme/default/vendor/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
