# No node modules are required
node_modules

# Neither with bower components, except we'll include the bootstrap fonts file
bower_components/*
!bower_components/bootstrap
bower_components/bootstrap/*
!bower_components/bootstrap/dist
bower_components/bootstrap/dist/*
!bower_components/bootstrap/dist/fonts
!bower_components/font-awesome
bower_components/font-awesome/*
!bower_components/font-awesome/fonts
