<?xml version="1.0"?>
<!--
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
-->

<config>
	<modules>
		<Webcomm_BootstrapNavigation>
			<version>0.1.0</version>
		</Webcomm_BootstrapNavigation>
	</modules>
	<global>
		<blocks>
			<bootstrapnavigation>
				<class>Webcomm_BootstrapNavigation_Block</class>
			</bootstrapnavigation>
			<page>

				<!-- Rewrite the topmenu to ours so we can add our custom classes -->
				<rewrite>
					<html_topmenu>Webcomm_BootstrapNavigation_Block_Page_Html_Topmenu</html_topmenu>
				</rewrite>

			</page>
		</blocks>
		<helpers>
			<bootstrapnavigation>
				<class>Webcomm_BootstrapNavigation_Helper</class>
			</bootstrapnavigation>
		</helpers>
		<models>
			<bootstrapnavigation>
				<class>Webcomm_BootstrapNavigation_Model</class>
			</bootstrapnavigation>
		</models>
	</global>
	<default>
		<catalog>
			<navigation>
				<max_depth>2</max_depth>
				<top_in_dropdown>1</top_in_dropdown>
				<top_in_dropdown_prefix>View All</top_in_dropdown_prefix>
				<top_in_dropdown_suffix></top_in_dropdown_suffix>
			</navigation>
		</catalog>
	</default>
</config>
