// Shipping and Payment methods
.sp-methods {
    margin: 0 0 8px;

    dt {
        padding-top:  10px;

        &:first-child {
            padding-top:  0;
        }
    }
    dd {
        padding:  10px 0;
        border-bottom:  1px solid @hr-border;

        &:last-child {
            padding-bottom:  0;
            border-bottom:  0;
        }
    }
    dd li { margin: 5px 0; }
    .radio {
        float:  left;
        margin-top:  3px;
        margin-right:  6px;
    }
    label {
        margin-bottom:  0;
    }

    .form-list {
        padding-left: 20px;
    }
    select.month {
        width: 154px;
        margin-right: 10px;
    }
    select.year {
        width: 96px;
    }
    input.cvv {
        width: 50px !important;
    }

    .checkmo-list {
        li { margin: 0 0 5px; }
        label { width: 135px; padding-right: 10px; text-align: right; }
        address { float:left; }
    }

    .centinel-logos {
        a {
            margin-right:  3px;
        }
        img {
            vertical-align:  middle;
        }
    }

    .release-amounts {
        margin:  0.5em 0;

        button {
            float:  left; margin:  5px 10px 0 0;
        }
    }
}

.please-wait {
    float:  right;

    img {
        vertical-align:  middle;
    }
}

.cvv-what-is-this {
    line-height:  @input-height-base;
    font-size:  @font-size-small;
    cursor:  help;
    margin-left:  10px;
}

// Tooltip, this ONLY used for CCV in Magento,
// and the styles don't play nice with mobile,
// so we'll just embed it as a well.
.tool-tip {
    .popover();
    display:  block;

    .btn-close {
        .clearfix();
        padding:  9px 14px;

        a {
            float:  right;
            font-size:  0;
            color:  @close-color;
            text-shadow:  @close-text-shadow;
            .opacity(.2);

            // Create a "X" icon
            &:after {
                font-size:  (@font-size-base * 1.5);
                font-weight:  @close-font-weight;
                line-height:  1;
                content:  "\00d7";
            }

            &:hover,
            &:focus {
                text-decoration:  none;
                .opacity(.5);
            }
        }
    }
}
.tool-tip-content {
    .popover-content();

    img {
        .img-responsive();
    }
}

// Gift Messages
.gift-messages {
    h3 {
        font-size:  @font-size-base;
        font-weight:  bold;
    }

    p.control {
        .checkbox {
            float:  left;
            margin-top:  4px;
            margin-right:  6px;
        }
        label {
            margin-bottom:  0;
        }
    }
}

.gift-messages-form {
    position:  relative;

    label {
        float:  none !important;
        position:  static !important;
    }
    h4 {
        padding-top:  (@line-height-computed / 2);
        border-top:  1px solid @hr-border;
        font-size:  @font-size-base;
        font-weight:  bold;

        &:first-child {
            padding-top:  0;
            border-top:  0;
        }
    }
    p {
        > .checkbox {
            float:  left;
            margin-top:  4px;
            margin-right:  6px;
        }
        > label {
            margin-bottom:  0;
        }
    }
    .whole-order {
        margin:  0 0 25px;
    }
    .item {
        .clearfix();
        margin:  0 0 10px;

        border-bottom:  1px solid @hr-border;

        &:last-child {
            border-bottom:  0;
        }

        .product-img-box {
            float:  left;
            width:  75px;
        }
        .product-image {
            margin:  0 0 7px;
        }
        .number {
            margin:  0;
            text-align:  center;
        }
        .details {
            margin-left:  90px;
            .product-name {
                margin:  0 0 10px;
            }
        }
    }
}

.gift-message-row {

    .btn-close {
        float:  right;
        font-size:  0;
        color:  @close-color;
        text-shadow:  @close-text-shadow;
        .opacity(.2);

        // Create a "X" icon
        &:after {
            font-size:  (@font-size-base * 1.5);
            font-weight:  @close-font-weight;
            line-height:  1;
            content:  "\00d7";
        }

        &:hover,
        &:focus {
            text-decoration:  none;
            .opacity(.5);
        }
    }

    dl {
        .clearfix();
    }
}

// Checkout Agreements (Terms & Conditions)
.checkout-agreements {
    li {
        margin-bottom:  @line-height-computed;

        &:last-child {
            margin-bottom:  0;
        }
    }
    .agreement-content {
        .well();
        margin-bottom:  0;
        overflow:  auto;
        height:  (@line-height-computed * 12);
    }
    .agree {
        margin:  0;
        padding:  10px;

        input.checkbox {
            float:  left;
            margin-top:  4px;
            margin-right:  6px;
        }
    }
}

.opc .checkout-agreements {
    padding:  5px 30px;
}

// Centinel
.centinel {
    .authentication {
        background-color:  #fff;
        border:  1px solid @panel-default-border;

        iframe {
            width:  99%;
            height:  400px;
            background:  transparent !important;
            margin:  0 !important;
            padding:  0 !important;
            border:  0 !important;
        }
    }
}

.opc .centinel {
    padding:  10px 30px;
}

// Generic Info Set (used by PayPal express)
.info-set {
    margin:  0 0 25px;
    padding:  20px;

    h2 {
        font-size:  @font-size-large;
    }
    h3,
    h4 {
        font-size:  @font-size-base;
    }
    h2 a,
    h3 a,
    h4 a {
        font-weight:  normal;
    }
    .divider {
        margin:  0 -20px;
        padding:  25px 0;
        position:  relative;
    }
    .box {
        margin: 0 0 15px;
    }
    .data-table .item-options {
        margin:  5px 0 0;
    }
}

// One Page Checkout
.block-progress {
    dl {
        margin: 0;
    }
    dt {
        font-weight: bold;
        margin: 0 0 6px;
        padding: 7px 15px;
        background-color: @panel-footer-bg;
        border: solid @panel-inner-border;
        border-width: 1px 0;

        &:first-child {
            border-top: 0;
        }
    }
    dd {
        padding: 8px 13px;
        margin: 0 0 6px;
    }
    dt.complete {
        margin: 0;
    }
    dd.complete {}
    p {
        margin: 0;
    }
    .cards-list dt {
        background: none;
        border: 0 none;
        color: inherit;
        font-size: 12px;
        margin: 5px 0;
        padding: 0;
    }
    .cards-list dd {
        border: 0 none;
        margin: 0;
        padding: 0;
    }
    .cards-list .info-table th {
        font-weight: normal;
    }

    // Address'
    address {
        margin-bottom: 0;
    }

    // Credit card
    p + table {
        margin-left: 10px;
    }

    @media (max-width: @screen-sm) {
        & {
            display: none;
        }
    }
}


.opc .buttons-set {
    margin-top: 0;

    p.required {
        margin: 0;
        padding: 0 0 10px;
    }
    .back-link small {
        display: none;
    }
    .buttons-set.disabled button.button {
        display: none;
    }
    .buttons-set .please-wait {
        height: 21px;
        line-height: 21px;
    }
    .ul {
        list-style: disc outside;
        padding-left: 18px;
    }
}

.opc {
    position: relative;

    .section {
        .panel();
        margin-bottom: 0;
        border-color: @panel-default-border;
    }

    .step-title {
        .clearfix();
        .panel-heading();
        border-color: @panel-default-border;
        background-color: @panel-default-heading-bg;
        color: @panel-default-text;

        strong {
            .panel-title();
            font-weight: @headings-font-weight;
        }
    }

    .step {
        .panel-body();
    }

    .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; color:#999; }
    .step-title h2 { float:left; margin:0; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#999; }
    .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

    .allow .step-title { background:#d0dce1; border:1px solid #a3aeb3; border-bottom:0; color:#a4b3b9; cursor:pointer; }
    .allow .step-title .number { background:#dbe6eb; border-color:#dbe6eb; color:#a4b3b9; }
    .allow .step-title h2 { color:#a4b3b9; }

    .active .step-title { background:#f9f3e3; border:1px solid #bbafa0; padding-bottom:5px; color:#f18200; cursor:default; }
    .active .step-title .number { background:#f18200; border-color:#f19900; color:#fff; }
    .active .step-title h2 { color:#f18200; }

    .step { }
    .step .tool-tip { right:30px; }
}

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }
