.page-popup {
    padding: @grid-gutter-width;
}

header[role="banner"] {
    .make-row();
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);

    .logo {
        .make-md-column(5);
    }

    .quick-access {
        .make-md-column(7);
    }

    @media (min-width: @screen-tablet) {
        .form-language {
            float: left;
            width: 160px;

            .form-control {
                width: 120px;
            }
        }
        .links {
            float: right;
            line-height: @input-height-small; // Line up with template switcher to left
        }
        .form-search {
            .clearfix();
        }
    }

    @media (min-width: @screen-md) {
        .quick-access {
            float: right;
        }
    }
}

// Footer
footer[role="contentinfo"] {

}

// Products
.product-essential {
    .make-row();

    .product-shop {
        min-height: 1px;
        position: relative;
    }

    .product-img-box {
        .make-sm-column(7);

        .more-views ul {
            .make-row();

            li {
                .make-xs-column(3);
            }
        }
    }

    @media (min-width: @screen-sm) {
        // Offset for the mocked up column
        // for .product-shop
        & {
            margin-right: 0;
        }

        // Switch floats around for the ordering
        .product-shop {
            float: right;
            width: percentage((5 / @grid-columns));
        }
    }
}
