@import "../bower_components/bootstrap/less/scaffolding.less";

.page-popup {
    padding: @grid-gutter-width;
}

header[role="banner"] {
    .make-row();
    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;

    > .logo {
        .make-md-column(5);
    }

    .quick-access {
        .make-md-column(7);
    }

    @media (min-width: @screen-sm) {
        .form-language {
            float: left;
            width: 160px;

            .form-control {
                width: 120px;
            }
        }
        .links {
            float: right;
            line-height: @input-height-small; // Line up with template switcher to left
        }
        .form-search {
            .clearfix();
        }
    }

    @media (min-width: @screen-md) {
        .quick-access {
            float: right;
        }
    }
}

.layout {
    .make-row();

    &.layout-1-col div[role="main"] {
        .make-md-column(12);
    }

    &.layout-3-cols div[role="main"] {
        .make-md-column(6);
    }
}

// Main
div[role="main"] {
    .make-md-column(9);
    margin-bottom: @line-height-computed;
}

// Sidebar(s)
aside[role="complementary"] {
    .make-md-column(3);
    display: none;
    margin-bottom: @line-height-computed;

    @media (min-width: @screen-md) {
        display: block;
    }
}

// Footer
footer[role="contentinfo"] {
    .clearfix();
    margin-bottom: @line-height-computed;

    > ul > li,
    .links li {
        display: inline;
    }

    > ul,
    .links,
    .bugs,
    address {
        margin-bottom: (@line-height-computed / 2);
    }

    @media (min-width: @screen-sm) {
        > ul,
        .links,
        .bugs,
        address {
            width: 50%;
        }

        > ul,
        .bugs {
            float: left;
        }

        .links,
        address {
            float: right;
            text-align: right;
        }
    }
}
