<?xml version="1.0"?>
<!--
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
-->

<config>
    <sections>
        <catalog>
            <groups>
                <navigation>
                    <fields>
                        <max_depth>
                            <label>Show Dropdown Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bootstrapnavigation/system_config_source_maxdepth</source_model>
                            <comment>If no, only top level links will be displayed. Twitter Bootstrap only supports one level of dropdown display.</comment>
                        </max_depth>
                        <top_in_dropdown>
                            <label>Show Top Level Links in Dropdown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Twitter Bootstrap's dropdowns do not allow you to click on top level links. By specifying "yes", these links will be placed in each dropdown and separated by a divider.</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </top_in_dropdown>
                        <top_in_dropdown_prefix>
                            <label>Prefix for Links in Dropdown</label>
                            <frontend_type>text</frontend_type>
                            <comment>You may provide an optional prefix for top level links in dropdowns. HTML code supported.</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><top_in_dropdown>1</top_in_dropdown></depends>
                        </top_in_dropdown_prefix>
                        <top_in_dropdown_suffix>
                            <label>Suffix for Links in Dropdown</label>
                            <frontend_type>text</frontend_type>
                            <comment>You may provide an optional suffix for top level links in dropdowns. HTML code supported.</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><top_in_dropdown>1</top_in_dropdown></depends>
                        </top_in_dropdown_suffix>
                    </fields>
                </navigation>
            </groups>
        </catalog>
    </sections>
</config>
