// RESET
// -----

@import "../vendor/bootstrap/less/reset";

// Reset margin / padding on elements
ul, ol,
dl, dt, dd {
	margin: 0;
	padding: 0;
}

// Lists
ul, ol {
	list-style: none;
	list-style-image: none;
}