// VARIABLES
// ---------

@import "../vendor/bootstrap/less/variables";


// Semantic GS
// -------------------------

// Translate variables for semantic.gs
// Never need to touch these.
@column-width:  @gridColumnWidth;
@gutter-width:  @gridGutterWidth;
@columns:       @gridColumns;
@total-width:   @gridsystem-width;

// // Uncomment for fluid semantic.gs
// @total-width:   100%;

// Alias variable for use later on
@totalWidth:    @total-width;

// Transitions
// -------------------------

@transitionTime: 250ms;