// VARIABLES
// ---------

@import "../vendor/bootstrap/less/variables";


// Semantic GS
// -------------------------

@column-width:  @gridColumnWidth;
@gutter-width:  @gridGutterWidth;
@columns:       @gridColumns;

// // Uncomment for fluid semantic.gs
// @total-width:   100%;

// Transitions
// -------------------------

@transitionTime: 250ms;